.contenedor {
    display: grid;
grid-template-columns: 30% 30%;
column-gap: 10px;

}

.box1{
    background-color: rgb(51, 51, 117);
    padding: 10px;
    color:white;
    grid-column: 1 / 2;
}

.box2{
    background-color: rgb(173, 74, 77);
    padding: 10px;
    color: white;
    grid-column: 1 / 2;
}

.box3{
    background-color:rgb(51, 51, 117);
    padding: 10px;
    color: white;
    grid-column: 2 / 2;
    grid-row: 1 / 3;
}